<div class="filter_row" data-name="filter_row">
  <div class="filter_column filter_column1">
    <input type="hidden" data-name="metric_selected" name="metric" />
    <a href="#" class="btn btn-block btn-shadow btn-primary text-truncate200" data-name="metric"> <!-- Enter Metric Name Here  --> </a>
  </div>
  <div class="filter_column filter_column2">
    <select class="form-control custom_select info" data-name="operator" name="operator">
      <!-- Enter operators -->
    </select>
  </div>
  <div class="filter_column filter_column3" data-name="values">
    <!-- Add values input -->
  </div>
  <!-- Cross button -->
  <div class="filter_column_hover_visible">
    <a href="#" class="text-danger" data-name="remove_filter"><i class="glyphicon glyphicon-remove"></i></a>
  </div>
</div>
