<!-- column 3 options -->

 <!-- 1 : SELECT -->
  <select class="form-control custom_select" data-value="select"></select>

  <!-- 2: BETWEEN (REMOVE filter_column3) -->
  <div class="filter_column_combine btn-shadow" data-value="between">
    <div>
      <input name="values[]" type="text" class="form-control">
    </div>
    <div>
      and
    </div>
    <div>
      <input name="values[]" type="text" class="form-control">
    </div>
  </div>

  <!-- 3: TEXT -->
  <input name="values" type="text" class="form-control" data-value="text">
