<!-- column 3 options -->

 <!-- 1 : SELECT -->
<<<<<<< HEAD
  <select class="custom_select" data-value="select" name="q[metric][operator][value]" data-name="input"></select>
=======
  <select class="form-control custom_select" data-value="select" name="q[metric][operator][value]" data-name="input"></select>
>>>>>>> add multiple filter functionality

  <!-- 2: BETWEEN (REMOVE filter_column3) -->
  <div class="filter_column_combine btn-shadow" data-value="between">
    <div>
      <input type="text" class="form-control" name="q[metric][operator][value][]" data-name="input" required="required">
    </div>
    <div>
      and
    </div>
    <div>
      <input type="text" class="form-control" name="q[metric][operator][value][]" data-name="input" required="required">
    </div>
  </div>

  <!-- 3: TEXT -->
  <input type="text" class="form-control" data-value="text" name="q[metric][operator][value]" data-name="input" required="required">

  <!-- 4: LOGICAL  -->
<<<<<<< HEAD
  <select class="custom_select" data-value="logical" name="q[metric][operator][value]" data-name="input">
    <option value=true> true </option>
    <option value=false> false </option>
  </select>

  <!--5: HIDDEN  -->
  <input type="hidden" name="q[metric][operator][value]" data-value="hidden" data-name="input" required="required">
=======
  <select class="form-control custom_select" data-value="select" name="q[metric][operator][value]" data-name="input">
    <option value=true> true </option>
    <option value=false> false </option>
  </select>
>>>>>>> add multiple filter functionality
