<!-- Designed By Pankaj Verma -->

<div class="filters_area">
  <div class="filter_row">
    <div class="filter_column filter_column1">
      <a href="#" class="btn btn-block btn-shadow btn-primary"> School Program </a>
    </div>
    <div class="filter_column filter_column2">
      <select class="form-control custom_select info">
        <option>
          Select Option a1
        </option>
        <option>
          Select Option a2
        </option>
        <option>
          Select Option a3
        </option>
        <option>
          Select Option a4
        </option>
        <option>
          Select Option a5
        </option>
        <option>
          Select Option a6
        </option>
        <option>
          Select Option a7
        </option>
        <option>
          Select Option a8
        </option>
        <option>
          Select Option a9
        </option>
        <option>
          Select Option a10
        </option>
        <option>
          Select Option a11
        </option>
        <option>
          Select Option a12
        </option>
        <option>
          Select Option a13
        </option>
        <option>
          Select Option a14
        </option>
        <option>
          Select Option a15
        </option>
        <option>
          Select Option a16
        </option>
        <option>
          Select Option a17
        </option>
        <option>
          Select Option a18
        </option>
        <option>
          Select Option a19
        </option>
        <option>
          Select Option a20
        </option>
      </select>
    </div>
    <div class="filter_column filter_column3">
      <select class="form-control custom_select">
        <option>
          Select Option a1
        </option>
        <option>
          Select Option a2
        </option>
        <option>
          Select Option a3
        </option>
        <option>
          Select Option a4
        </option>
        <option>
          Select Option a5
        </option>
        <option>
          Select Option a6
        </option>
        <option>
          Select Option a7
        </option>
        <option>
          Select Option a8
        </option>
        <option>
          Select Option a9
        </option>
        <option>
          Select Option a10
        </option>
      </select>
    </div>
    <div class="filter_column_hover_visible">
      <a href="#" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a>
    </div>

  </div>
  <div class="filter_row">
    <div class="filter_column filter_column1">
      <a href="#" class="btn btn-block btn-shadow btn-primary"> School Program </a>
    </div>
    <div class="filter_column filter_column2">
      <select class="form-control custom_select">
        <option>
          Select Option b1
        </option>
        <option>
          Select Option b2
        </option>
        <option>
          Select Option b3
        </option>
        <option>
          Select Option b4
        </option>
        <option>
          Select Option b5
        </option>
        <option>
          Select Option b6
        </option>
        <option>
          Select Option b7
        </option>
        <option>
          Select Option b8
        </option>
        <option>
          Select Option b9
        </option>
        <option>
          Select Option b10
        </option>
      </select>
    </div>
    <div class="filter_column filter_column3">
      <input type="text" class="form-control">
    </div>
    <div class="filter_column_hover_visible">
      <a href="#" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </div>
  <div class="filter_row">
    <div class="filter_column filter_column1">
      <a href="#" class="btn btn-block btn-shadow btn-primary"> School Program </a>
    </div>
    <div class="filter_column filter_column2">
      <select class="form-control custom_select">
        <option>
          Select Option c1
        </option>
        <option>
          Select Option c2
        </option>
        <option>
          Select Option c3
        </option>
        <option>
          Select Option c4
        </option>
        <option>
          Select Option c5
        </option>
        <option>
          Select Option c6
        </option>
        <option>
          Select Option c7
        </option>
        <option>
          Select Option c8
        </option>
        <option>
          Select Option c9
        </option>
        <option>
          Select Option c10
        </option>
      </select>
    </div>
    <div class="filter_column filter_column3">
      <input type="text" class="form-control">
    </div>
    <div class="filter_column_hover_visible">
      <a href="#" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </div>

  <div class="filter_row">
    <div class="filter_column filter_column1">
      <a href="#" class="btn btn-block btn-shadow btn-primary"> School Program </a>
    </div>
    <div class="filter_column filter_column2">
      <select class="form-control custom_select">
        <option>
          Select Option c1
        </option>
        <option>
          Select Option c2
        </option>
        <option>
          Select Option c3
        </option>
        <option>
          Select Option c4
        </option>
        <option>
          Select Option c5
        </option>
        <option>
          Select Option c6
        </option>
        <option>
          Select Option c7
        </option>
        <option>
          Select Option c8
        </option>
        <option>
          Select Option c9
        </option>
        <option>
          Select Option c10
        </option>
      </select>
    </div>
    <div class="filter_column">
      <div class="filter_column_combine btn-shadow">
        <div>
          <input type="text" class="form-control">
        </div>
        <div>
          and
        </div>
        <div>
          <select class="form-control custom_select">
            <option>
              Select Option c1
            </option>
            <option>
              Select Option c2
            </option>
            <option>
              Select Option c3
            </option>
            <option>
              Select Option c4
            </option>
            <option>
              Select Option c5
            </option>
            <option>
              Select Option c6
            </option>
            <option>
              Select Option c7
            </option>
            <option>
              Select Option c8
            </option>
            <option>
              Select Option c9
            </option>
            <option>
              Select Option c10
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter_column_hover_visible">
      <a href="#" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </div>


<!-- button w/ animation -->
  <div class="filter_row">
    <div class="filter_column filter_column4">
      <a href="#" class="btn btn-block btn-shadow btn-info add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span class="add_filter_text"> &nbsp; Add Companies filter </span></a>
    </div>
  </div>
</div>

<!-- button w/o animation -->
<div class="filter_row only-row">
  <div class="filter_column filter_column4">
    <a href="#" class="btn btn-block btn-shadow btn-default add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span class=""> &nbsp; Add Companies filter </span></a>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog filter-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Filters</h4>
      </div>

      <div class="filter-modal-subheader text-primary">
        Basic Info
      </div>

      <div class="modal-body no-padding">
        <div class="filter-modal-menu">

          <ul>
            <li class="active">Basic Info  <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Investor Details <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>School Details <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Categories <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Team <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Funding <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Investors <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Acquisition <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>IPO <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Basic Info <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Investor Details <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>School Details <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Categories <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Team <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Funding <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Investors <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>Acquisition <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
            <li>IPO <span class="glyphicon glyphicon-chevron-right menu-caret"></span></li>
          </ul>

          <ul>
            <li>Basic Info</li>
            <li>Investor Details</li>
            <li>School Details</li>
            <li>Categories</li>
            <li>Team</li>
            <li>Funding</li>
            <li>Investors</li>
            <li>Acquisition</li>
            <li>IPO</li>
            <li>Basic Info</li>
            <li>Investor Details</li>
            <li>School Details</li>
            <li>Categories</li>
            <li>Team</li>
            <li>Funding</li>
            <li>Investors</li>
            <li>Acquisition</li>
            <li>IPO</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( document ).ready(function() {
  $( ".custom_select" )
  .selectmenu()
  .selectmenu( "menuWidget" )
  .addClass( "overflow" );
} );
</script>
