<%# paginate results %>
<%= paginate results, remote: true, method: :post %>

<% if results.present? %>
  <table class="table" id="listing_filtered_users" data-hook>
    <thead>
      <tr data-hook="admin_filterd_users_headers">
        <!-- <th> <%# sort_link(@query, :email, 'Email') %> </th> -->
        <th> <%= sort_link(@query, :email, 'Email', {}, { remote: true, method: 'post' }) %> </th>
      </tr>
    </thead>
    <tbody>
    <% results.each do |result| %>
      <tr data-hook="admin_filtered_users_rows">
        <td> <%= result.email %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::User)) %>
  </div>
<% end %>
