.p-r-0 {
  padding-right: 0 !important;
}

.filters_area {
  background-color: #eee;
  padding: 20px;
  margin: -15px -35px 20px -35px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
}

.filter_row {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
}

.filter_row:before {
  content: "";
  display: block;
  height: 50%;
  border-left: solid 4px #aaa;
  position: absolute;
  left: 0;
  bottom: 50%;
}

.filter_row:after {
  content: "";
  display: block;
  height: 50%;
  border-left: solid 4px #aaa;
  position: absolute;
  left: 0;
  bottom: 0;
}

.filter_row:first-child:before {
  display: none;
}

.filter_row:last-child:after {
  display: none;
}

.filter_row.only-row:before,
.filter_row.only-row .filter_column:before {
  display: none;
}

.filter_column {
  padding: 10px;
  position: relative;
}

.filter_column > * {
  position: relative;
  z-index: 1
}

.filter_column:before {
  content: "";
  display: block;
  width: 100%;
  border-top: solid 4px #aaa;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -2px;
}

.filter_column1 {
  width: 200px;
}

.filter_column2 {
  width: 200px;
}

.filter_column_combine {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  background-color: #fff;
  min-height: 38px;
  padding: 5px 10px;
}
.filter_column_combine > div {
  padding: 0 10px;
}

.filter_column_combine .form-control {
  border: none;
  padding: 0 0 2px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  height: auto;
}

.filter_column_combine .ui-selectmenu-button.ui-button {
  padding: 0;
  box-shadow: none;
}

.filter_column_hover_visible {
  opacity: 1;
}



.add_filter_button .add_filter_text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  max-width: 0;

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.add_filter_button:hover .add_filter_text {
  max-width: 300px;
}

.custom_select + .ui-selectmenu-button {
  padding: 7px 16px 6px 16px;
  line-height: 1.428571429;
  max-width: 100%;
  outline: none !important;
  box-shadow: 2px 2px 2px 0 #ccc;
  border-radius: 0;
  border-color: transparent !important;
  position: relative;
  background: #fff !important;
}

.btn-shadow {
  outline: none !important;
  box-shadow: 2px 2px 2px 0 #ccc !important;
  -webkit-box-shadow: 2px 2px 2px 0 #ccc !important;
  border-radius: 0;
  border-color: transparent !important;
}


.filter-modal .modal-content {
  border-radius: 0;
}

.filter-modal .modal-header {
  background-color: #162e40;
  color: #fff !important;
  position: relative;
  padding-right: 40px;
}

.filter-modal-subheader {
  background-color: rgba(0, 0, 0, .05);
  padding: 10px 15px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.filter-modal .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.filter-modal .no-padding {
  padding: 0;
}

.filter-modal-menu {
  display: flex;
  display: -webkit-flex;
}

.filter-modal-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 400px;
  overflow-x: auto;
  width: 50%;
}

.filter-modal-menu > ul > li {
  padding: 7px 30px 7px 15px;
  position: relative;
}

.filter-modal-menu > ul > li:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.filter-modal-menu > ul > li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-modal-menu ul + ul {
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.filter-modal-menu .menu-caret {
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 7px;
  line-height: 7px;
  margin-top: -3px;
}

.text-truncate200 {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-default:focus,
.btn-default.focus {
  background-color: #fff !important;
}



/*.custom_select .select2-choice {}*/
.select2-container.custom_select {
  min-width: 150px;
  box-shadow: 2px 2px 2px 0 #ccc !important;
  -webkit-box-shadow: 2px 2px 2px 0 #ccc !important;
}

.custom_select.select2-container .select2-choice .select2-arrow {
  border-left: none !important;
}
.custom_select.select2-container .select2-choice {
  display: flex;
  display: -webkit-flex;
  border-color: transparent;
}
.custom_select.select2-container .select2-choice .select2-chosen {
  width: calc(100% - 12px - 18px);
  position: relative;
  text-align: center;
}
.custom_select.select2-container .select2-choice .select2-chosen:after {
  content: "";
  display: block;
  border-top: solid 1px #ddd;
  position: absolute;
  left: 0;
  top: calc(50% + 10px);
  width: 100%;
}
.custom_select.select2-container .select2-choice abbr {
  right: 18px;
}

/*+++++++++++++++++*/
.custom_select.select2-container.info .select2-choice   {
  background-color: #48B0F7;
  border-color: #48B0F7;
  color: #fff;
}
.custom_select.select2-container.info .select2-choice .select2-arrow {
  background-color: #48B0F7;
}

/*+++++++++++++++++*/
.select2-container.select2-container-multi {
  min-width: 200px;
  max-width: 300px;
}

.select2-container-multi .select2-choices .select2-search-field:first-child input,
.select2-choices .select2-search-field:first-child .select2-input {
  min-width: 250px;
}
