<% if can? :admin, Spree::Admin::CustomerSegmentationController %>
  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item">
      <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-customer-segmentation">
        <span class="icon icon-list"></span>
        <span class="text"> <%= Spree.t(:tab_heading) %></span>
        <span class="icon icon-chevron-left pull-right"></span>
      </a>
      <ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-customer-segmentation">
        <li class="sidebar-menu-item"> <%= link_to Spree.t(:segments), admin_customer_segmentation_index_path %> </li>
      </ul>
    </li>
  </ul>
<% end %>
